
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Templates and Bootstrap &#8212; Code Toolkit Fall 2018 documentation</title>
    <link rel="stylesheet" href="../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Django Models: Building a Blog" href="13-Django-Models-Blogs.html" />
    <link rel="prev" title="Django Introduction" href="11-django-intro.html" />
   
  <link rel="stylesheet" href="../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="Templates-and-Bootstrap">
<h1>Templates and Bootstrap<a class="headerlink" href="#Templates-and-Bootstrap" title="Permalink to this headline">¶</a></h1>
<p>Now, we will use Django’s built in templating to style our home page.
Django will look within each app for templates or for a base folder call
<code class="docutils literal notranslate"><span class="pre">templates</span></code>. We will create a folder in the main project to house our
templates, and a file called <code class="docutils literal notranslate"><span class="pre">home</span></code> to place our styling in.</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">mkdir</span> <span class="n">templates</span>
<span class="n">touch</span> <span class="n">templates</span><span class="o">/</span><span class="n">home</span><span class="o">.</span><span class="n">html</span>
</pre></div>
</div>
<p>Now, we will use the <code class="docutils literal notranslate"><span class="pre">settings.py</span></code> file to establish our template and
tell Django where it is located. Adding the line:</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="n">TEMPLATES</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span>
        <span class="s1">&#39;DIRS&#39;</span><span class="p">:</span> <span class="p">[</span><span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">BASE_DIR</span><span class="p">,</span> <span class="s1">&#39;templates&#39;</span><span class="p">)],</span>

<span class="p">},</span>
<span class="p">]</span>
</pre></div>
</div>
<p>Let’s add some HTML to our home.html file as well.</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Hello again.<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="section" id="Updating-Views">
<h2>Updating Views<a class="headerlink" href="#Updating-Views" title="Permalink to this headline">¶</a></h2>
<p>There is a built-in TemplateView method that we will use in the
<code class="docutils literal notranslate"><span class="pre">views.py</span></code> file. Here, we follow a similar approach to our last
example in terms of mapping urls. In our <code class="docutils literal notranslate"><span class="pre">views.py</span></code> file we will add</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">TemplateView</span>

<span class="k">class</span> <span class="nc">HomePageView</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s1">&#39;home.html&#39;</span>
</pre></div>
</div>
<p>In the app level <code class="docutils literal notranslate"><span class="pre">urls.py</span></code>, we just need to change the line in our
<code class="docutils literal notranslate"><span class="pre">urlpatterns</span></code> list:</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="n">path</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">HomePageView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span> <span class="o">=</span> <span class="s1">&#39;home&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>Now, if we restart the server we will have our new home page rendered.</p>
</div>
<div class="section" id="Adding-a-Page">
<h2>Adding a Page<a class="headerlink" href="#Adding-a-Page" title="Permalink to this headline">¶</a></h2>
<p>To add a page, we will create a new template, view, and url route just
as above. We can call this page our about page.</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">touch</span> <span class="n">templates</span><span class="o">/</span><span class="n">about</span><span class="o">.</span><span class="n">html</span>
</pre></div>
</div>
<p>Add HTML to the about page.</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>This is about me.<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
</pre></div>
</div>
<p>We create a view in our <code class="docutils literal notranslate"><span class="pre">views.py</span></code> file, we will create an
aboutpageview class.</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">aboutpageview</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s1">&#39;about.html&#39;</span>
</pre></div>
</div>
<p>In our <code class="docutils literal notranslate"><span class="pre">urls.py</span></code> file, we add a line to our urlpatterns to direct
visitors to the about page.</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="n">path</span><span class="p">(</span><span class="s1">&#39;about/&#39;</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">aboutpageview</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span> <span class="o">=</span> <span class="s1">&#39;about&#39;</span><span class="p">),</span>
</pre></div>
</div>
</div>
<div class="section" id="Extending-the-Template">
<h2>Extending the Template<a class="headerlink" href="#Extending-the-Template" title="Permalink to this headline">¶</a></h2>
<p>Now, we will create a base file that we can use to extend a style across
multiple pages. To do so, we will create a base file, and then use the
Django minimal templating language to pull the formatting in to the
additional pages.</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">touch</span> <span class="n">templates</span><span class="o">/</span><span class="n">base</span><span class="o">.</span><span class="n">html</span>
</pre></div>
</div>
<p>Here, we can add a minimal header to see how this can be applied to all
pages. In the new <code class="docutils literal notranslate"><span class="pre">base.html</span></code> file, write the following:</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">header</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{% url &#39;home&#39; %}&quot;</span><span class="p">&gt;</span>Home<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span> | <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{% url &#39;about&#39; %}&quot;</span><span class="p">&gt;</span>About<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">header</span><span class="p">&gt;</span>

{% block content %}
{% endblock %}
</pre></div>
</div>
<p>Now, we alter the <code class="docutils literal notranslate"><span class="pre">home.html</span></code> and <code class="docutils literal notranslate"><span class="pre">about.html</span></code> files to extend the
<code class="docutils literal notranslate"><span class="pre">base.html</span></code> file. In each, we will add the line</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;base.html&#39; %}
</pre></div>
</div>
<p>Finally, we wrap the content of both pages with
<code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">content</span> <span class="pre">%}{%</span> <span class="pre">endblock</span> <span class="pre">%}</span></code>. Thus, in our <code class="docutils literal notranslate"><span class="pre">home.html</span></code> file,
we have:</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;base.html&#39; %}

{% block content %}
<span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Welcome Home Jacob.<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
{% endblock %}
</pre></div>
</div>
<p>Same thing in our <code class="docutils literal notranslate"><span class="pre">about.html</span></code> file. Restart the server and you should
see the header appear.</p>
</div>
<div class="section" id="Using-Bootstrap">
<h2>Using Bootstrap<a class="headerlink" href="#Using-Bootstrap" title="Permalink to this headline">¶</a></h2>
<div class="figure">
<img alt="" src="../_images/bootstrap_home.png" />
</div>
<p>The bootstrap framework is a way around developing all our own CSS. We
can either directly download the files, or use the CDN link. We will
follow this approach by copying the CDN information from the Bootstrap
getting started page.</p>
<p><a class="reference external" href="https://getbootstrap.com/docs/3.3/getting-started/">https://getbootstrap.com/docs/3.3/getting-started/</a></p>
<p>Go to our <code class="docutils literal notranslate"><span class="pre">base.html</span></code> file, and add the link in a <code class="docutils literal notranslate"><span class="pre">&lt;head&gt;&lt;/head&gt;</span></code>
tag.</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&quot;sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u&quot;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&quot;anonymous&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
</pre></div>
</div>
<p>Fire up the server and you should notice a slight formatting change.</p>
</div>
<div class="section" id="Tests">
<h2>Tests<a class="headerlink" href="#Tests" title="Permalink to this headline">¶</a></h2>
<p>A major part of development in Django is the use of tests to assure
everything is working. While our page is extremely simple, we still want
to make sure that our home and about pages are functioning to return
responses. In the <code class="docutils literal notranslate"><span class="pre">tests.py</span></code> file, we will place two simple tests that
verify these pages are returning a 200 response code.</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.test</span> <span class="kn">import</span> <span class="n">TestCase</span>

<span class="c1"># Create your tests here.</span>
<span class="kn">from</span> <span class="nn">django.test</span> <span class="kn">import</span> <span class="n">SimpleTestCase</span>


<span class="k">class</span> <span class="nc">SimpleTests</span><span class="p">(</span><span class="n">SimpleTestCase</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">test_home_page_status_code</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">client</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="n">response</span><span class="o">.</span><span class="n">status_code</span><span class="p">,</span> <span class="mi">200</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">test_about_page_status_code</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">client</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;/about/&#39;</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="n">response</span><span class="o">.</span><span class="n">status_code</span><span class="p">,</span> <span class="mi">200</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="Problem">
<h2>Problem<a class="headerlink" href="#Problem" title="Permalink to this headline">¶</a></h2>
<p>Remember that our goal is to put together a website to share our Python
Data projects that we’ve been making in Jupyter notebooks. To do so,
let’s consider taking a notebook, converting it to an HTML file, and
adding this file to a a page called <strong>Projects</strong> where users can see our
different projects for visitors to see.</p>
<p>To create the HTML files of the notebooks, we will use Jupyter’s
<code class="docutils literal notranslate"><span class="pre">nbconvert</span></code> functionality. To start, navigate to the directory where
your notebooks are housed with the terminal and <code class="docutils literal notranslate"><span class="pre">cd</span></code> command. Now,
whatever notebook you would like to convert, enter</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">jupyter</span> <span class="n">nbconvert</span> <span class="n">notebook</span><span class="o">.</span><span class="n">ipynb</span>
</pre></div>
</div>
<p>and you will have a new HTML file in the same folder. If you want, you
can enter a directory to place this new file, for example</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">jupyter</span> <span class="n">nbconvert</span> <span class="n">notebook</span><span class="o">.</span><span class="n">ipynb</span> <span class="n">htmls</span><span class="o">/</span>
</pre></div>
</div>
<p>assuming we have an htmls directory.</p>
<p>Your goal is to play around with the different bootstrap features to
style your home and about pages, and to add a projects page that
contains your first Python projects from the Jupyter notebooks. You
should explore a nicer navbar that includes a logo image.</p>
</div>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/hen.png" alt="Logo"/>
            </a></p>
<h1 class="logo"><a href="../index.html">Code Toolkit</a></h1>








<h3>Navigation</h3>
<p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="01-Introduction-Installations.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="02-Intro-to-Data.html">Introduction to Data</a></li>
<li class="toctree-l1"><a class="reference internal" href="03-UNIX-and-Terminal.html">Command Line and UNIX</a></li>
<li class="toctree-l1"><a class="reference internal" href="04-Introduction-to-Python.html">Introduction to Python</a></li>
<li class="toctree-l1"><a class="reference internal" href="05-Exploring-with-Pandas.html">Exploratory Data Analysis</a></li>
<li class="toctree-l1"><a class="reference internal" href="06-Pandas-and-Matplotlib.html">Important Libraries</a></li>
<li class="toctree-l1"><a class="reference internal" href="07-Folium.html">Mapping Data with Folium</a></li>
<li class="toctree-l1"><a class="reference internal" href="08-Beautiful-Soup-Scraping.html">Introduction to Web Scraping</a></li>
<li class="toctree-l1"><a class="reference internal" href="09-Intro-Spacy.html">spaCy</a></li>
<li class="toctree-l1"><a class="reference internal" href="11-django-intro.html">Django Introduction</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Templates and Bootstrap</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#Updating-Views">Updating Views</a></li>
<li class="toctree-l2"><a class="reference internal" href="#Adding-a-Page">Adding a Page</a></li>
<li class="toctree-l2"><a class="reference internal" href="#Extending-the-Template">Extending the Template</a></li>
<li class="toctree-l2"><a class="reference internal" href="#Using-Bootstrap">Using Bootstrap</a></li>
<li class="toctree-l2"><a class="reference internal" href="#Tests">Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="#Problem">Problem</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="13-Django-Models-Blogs.html">Django Models: Building a Blog</a></li>
<li class="toctree-l1"><a class="reference internal" href="14-Django-Poll-I.html">Making a Polling Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="15-Django-Style.html">Styling the Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="16-NaiveBayes.html">Naive Bayes Classifier</a></li>
<li class="toctree-l1"><a class="reference internal" href="17-deployment-with-Flask.html">Introduction to Flask</a></li>
<li class="toctree-l1"><a class="reference internal" href="17-deployment-with-Flask.html#Hello,-world.">Hello, world.</a></li>
<li class="toctree-l1"><a class="reference internal" href="17-deployment-with-Flask.html#Add-in-machine-learning">Add in machine learning</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab_01.html">Exploring Data</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab_02-policin.html">Investigating Stop and Frisk</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab_03-mappin-gardens.html">Folium and Mapping</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab_04.html">Lab 04: Scraping Reviews</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab-05.html">Web Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab-06.html">Polls II</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab-07.html">FLASK App</a></li>
<li class="toctree-l1"><a class="reference internal" href="lab-08.html">Learning Application</a></li>
</ul>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
      <li>Previous: <a href="11-django-intro.html" title="previous chapter">Django Introduction</a></li>
      <li>Next: <a href="13-Django-Models-Blogs.html" title="next chapter">Django Models: Building a Blog</a></li>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2018, Jacob Frias Koehler, PhD.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../_sources/content/12-Django-templates.ipynb.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>